body  {
    background-image: url("./images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*css code for card flip adopted from w3 schools*/
  .card {
    height: 100px;
    width: 70px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  img {
    width: 100%;
    height: 100%;
 }


h3 {
  color: whitesmoke;
  display: inline-block;
  margin-left: 10px;
}
  

.flipcard {
  transform: rotateY(180deg);
}


h2 {
  font-size: 30px;
  color: yellow;
}

